<div class="container">

  <h2>File Upload</h2>
  <div id="fileUploadDiv">
    <div>
      <input type="file" #csvReader name="Upload CSV" id="csvUploader" (change)="fileChangeListener($event)" accept=".csv" />
    </div>
  </div>

  <h2>File Statistics</h2>
  <div id="statisticsDiv">
    <div><span>Number of words: </span>{{statistics.numWords}}</div>
    <div><span>Number of letters: </span>{{statistics.numLetters}}</div>
  </div>

  <h2>File Data</h2>
  <div id="displayDiv">

    <!--basic table type rendering-->
    <!--<table *ngIf="csvRecords">
      <thead>
        <tr>
          <th [appSort]="csvRecords"
              *ngFor="let colHead of _object.keys(csvRecords[0]); let i = index"
              data-order="desc" [attr.data-name]="colHead" scope="col">{{colHead}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of csvRecords; let i = index">
          <td *ngFor="let objKey of _object.keys(row); let j = index">{{row[objKey]}}</td>
        </tr>
      </tbody>
    </table>-->

    <!--Angular Materials table implementation-->
    <app-mat-custom-table *ngIf="csvRecords"
      [dataset]="data"
      [columns]="columns">
    </app-mat-custom-table>

  </div>

</div>
