<div class="container">

  <h2>File Upload</h2>
  <div id="fileUploadDiv">
    <div>
      <input type="file" #csvReader name="Upload CSV" id="csvUploader" (change)="fileChangeListener($event)" accept=".csv" />
    </div>
  </div>

  <h2>File Statistics</h2>
  <div id="statisticsDiv">
    <div><span>Number of words: </span>{{statistics.numWords}}</div>
    <div><span>Number of letters: </span>{{statistics.numLetters}}</div>
  </div>

  <h2>File Data</h2>
  <div id="displayDiv">

    <table *ngIf="csvRecords">
      <thead>
        <tr>
          <th [appSort]="csvRecords"
              *ngFor="let colHead of _object.keys(csvRecords[0]); let i = index"
              data-order="desc" [attr.data-name]="colHead" scope="col">{{colHead}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of csvRecords; let i = index">
          <td *ngFor="let objKey of _object.keys(row); let j = index">{{row[objKey]}}</td>
        </tr>
      </tbody>
    </table>

    <!--<table mat-table [dataSource]="csvRecords">
      <ng-container matColumnDef="csvRecords[0][0]">
        <th mat-header-cell *matHeaderCellDef> Score </th>
        <td mat-cell *matCellDef="let user"> {{csvRecords}} </td>
      </ng-container>
    </table>-->

    <!--<mat-table *ngIf="csvRecords" [dataSource]="csvRecords" matSort class="mat-elevation-z8">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
        <mat-header-cell *matHeaderCellDef>{{column.header}}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row[column.columnDef]}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>-->

<!--    mat table - almost working-->
    <!--<app-mat-custom-table
      [dataset]="data"
      [columns]="columns">
    </app-mat-custom-table>-->

  </div>

</div>
